!rofi.opacity: 65
!rofi.width: 400
!rofi.lines: 12
!rofi.columns: 1
rofi.font: PragmataPro 8
rofi.color-enabled: true
rofi.color-normal:                   argb:0000000,#FFFFFF,argb:3a4E4E4E,#396EB4,#FFFFFF
rofi.color-urgent:                   argb:0000000,#EF2929,argb:3a4E4E4E,#396EB4,#FFFFFF
rofi.color-active:                   argb:0000000,#FFFFFF,argb:3a4E4E4E,#396EB4,#FFFFFF
rofi.color-window:                   argb:E6222222,#396EB4,#396EB4
rofi.separator-style: dash
rofi.bc: #396EB4
rofi.bw: 0
rofi.loc: 0
rofi.padding: 300
rofi.yoffset: -25
rofi.xoffset:
rofi.fixed-num-lines: true
rofi.hmode: false
rofi.terminal: termite
rofi.ssh-command: termite -e '{ssh-client} {host}' --class=ssh
rofi.ssh-set-title: true
rofi.key: F12
rofi.rkey: mod1+F2
rofi.skey: mod1+F3
rofi.hide-scrollbar: true
rofi.sidebar-mode: true
rofi.fullscreen: true
rofi.switchers: window,run,ssh
