# Blank the screen after 10 mins of inactivity
/usr/bin/xset dpms 0 0 600

# Increase the repeat rate of the keyboard
/usr/bin/xset r rate 400 44

# Turn off cap locks
/usr/bin/setxkbmap -option caps:none

# Enable killing X via key combo
/usr/bin/setxkbmap -option terminate:ctrl_alt_bksp

# Set auto-suspend after 30 mins of inactivity
/usr/bin/xautolock -time 30 -locker "systemctl suspend" -detectsleep &
